.cart-container {
  width: 90%;
  max-width: 600px;
  margin: 90px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.cart-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
}

.item-list {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  background: #f8f8f8;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.qty-input {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.total {
  font-size: 22px;
  text-align: right;
  font-weight: bold;
  margin-top: 15px;
  color: #222;
}

.payment-box {
  background: #eef7ff;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}

.cash-only {
  font-size: 18px;
  font-weight: bold;
  color: #0a6bf0;
}


.btn-row {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.place-order-btn {
  flex: 1;
  background: #28a745;
  color: white;
  padding: 12px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.3s;
}

.place-order-btn:hover {
  background: #218838;
}

.back-btn {
  flex: 1;
  background: #6c757d;
  color: white;
  padding: 12px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.back-btn:hover {
  background: #555;
}

.empty-cart {
  text-align: center;
  color: #888;
  font-size: 18px;
  padding: 20px;
}
