html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.home-page {
  background:  url("../assets/b2.png") no-repeat center center/cover;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  flex:1;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-header {
  position: sticky;
  top: 0;
  background-color: #5094b1;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.hamburger {
  font-size: 25px;
  cursor: pointer;
}
.menu {
  position: absolute; 
  top: 100%; 
  left: 0;
  width: 30%; 
  background-color: #b9cbd3;
  display: flex;
  flex-direction: column; 
  padding: 10px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 999;
}

.menu a {
  color: rgb(44, 35, 35);
  text-decoration: none;
  padding: 12px 20px;
  font-weight: 600;
  cursor: pointer;
}

.menu a:hover {
  background-color: #406b85;
}

.header-left {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.location-icon {
  cursor: pointer;
  margin-left: 15px;
  font-size: 18px;
}

.header-right .icon {
  margin-left: 20px;
  cursor: pointer;
  font-size: 25px;
}
.home-body {
  padding: 5px;
}

.section {
  margin-bottom: 35px;
}

.section h2 {
  margin-bottom: 15px;
  text-align: center;
  color:rgb(9, 9, 9);
  font-size: 2.1rem;
  text-transform: uppercase;
}
.hero-section {
  width: 100%;
  height: 100vh; 
  background: url("../assets/bg3.png") no-repeat center center/cover;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(3px);
}

.hero-content {
  text-align: center;
  max-width: 900px;
  width: 100%;
  position: relative;
  z-index: 2;
  animation: fadeInUp 1.2s ease;
}
.hero-section h2 {
  font-size: clamp(35px, 4vw, 60px);
  font-weight: 700;
  color: #ffde74; 
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
}

.hero-section h1 {
  font-size: clamp(45px, 6vw, 90px);
  font-weight: 900;
  color: #ffffff;
  line-height: 1.1;
  margin: 0;
  text-transform: capitalize;
  text-shadow: 0px 6px 25px rgba(0, 0, 0, 0.9);
}

.hero-sub {
  font-size: clamp(18px, 2vw, 28px);
  font-weight: 600;
  color: #f8f8f8;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.7);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.scroll-arrow {
  margin-top: 20px;
  font-size: 55px;
  cursor: pointer;
  color: #ffffff;
  animation: bounce 1.5s infinite;
  transition: 0.3s ease;
  font-weight: 2000;
  text-shadow: 0px 4px 10px rgba(0,0,0,0.7);
}

.scroll-arrow:hover {
  transform: scale(1.2);
  color: #ffde74;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}


.hero-search {
  margin-top: 30px;
  display: flex;
  justify-content: center; /* 👈 center search bar */
  gap: 10px;
  width: 100%; 
  margin-bottom: 40px;
}

.hero-search input {
  width: 350px;
  padding: 12px 18px;
  border-radius: 25px;
  border: none;
  font-size: 17px;
 background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.hero-search button {
  background: #92e4c5;
  color:rgb(25, 27, 34);
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 530;
  transition: 0.3s ease;
}
.hero-search button:hover {
  transform: scale(1.05);
  background: #1fab0a;
}

.category-grid,
.brand-grid,
.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
  box-sizing: border-box;
  padding: 0 20px;
}
.category-card {
  background: rgb(140, 163, 225);
  width: 100%;
  max-width: 260px;
  height: 230px;              
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  text-decoration: none;          
  cursor: pointer;
}

.category-card img {
  width: 100%;
  height: 170px;              
  object-fit: cover;
}

.category-card p {
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: rgb(16, 55, 129);
  font-weight: bold;
}

.brand-card {
  background: rgb(140, 163, 225);
  width: 100%;
  max-width: 280px;
  height: 280px;              
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.brand-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block; }

.item-card {
  background: rgb(140, 163, 225);
  width: 100%;
  max-width: 260px;
  height: 300px;             
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  justify-content: space-between;
}

.item-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.item-card h4 {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin:2px 0;
}

.item-card p {
  color: #09324d;
  font-size: 15px;
  font-weight: bold;
  margin:2px 0;
  text-align: center;
}

.qty-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; 
  margin-bottom: 5px;
}

.qty-box button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background: rgb(162, 32, 123);
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
  margin: 0 20px;
}
.qty-box button:hover {
  background: #1e7e34;
}
.qty-box span {
  font-weight: bold;
  font-size: 16px;
  width: 25px;
  text-align: center;
}
.category-card:hover,
.brand-card:hover,
.item-card:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.home-footer {
  background-color: #323030; 
  color: #f0f0f0; 
  text-align: center;
  padding: 25px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-top: 2px solid #7e7575;
   
}

.home-footer p {
  margin: 5px 0;
  font-size: 16px;
  line-height: 1.6;
}

.home-footer span {
  color: #ec7171; 
  font-weight: bold;
}

.home-footer p:first-child {
  font-size: 20px;
  color: #d0cb3f;}

.about-overlay h2 {
  color: #2930b8;
   text-align: center ;}
.about-overlay {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.about-box {
  background: #fff;
  padding: 20px 25px;
  width: 90%;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  animation: popup 0.2s ease;
}

@keyframes popup {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.close-btn {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #b9b7b7;
  color: rgb(104, 14, 60);
  border: none;
  border-radius: 8px;
  font-weight: 540;
  font-size: 17px;
  cursor: pointer;
}

.cart-items {
  max-height: 300px;
  overflow-y: auto;
}


.header-right {
  position: relative;
}

.basket-container {
  position: relative;
  font-size: 28px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}

.cart-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  width: 400px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 8px;
  z-index: 1000;
}
.cart-dropdown h3{
  text-align: center;
  margin-bottom: 8px;
  color: #2930b8;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}
.cart-item span:first-child {
  flex: 2; 
}
.cart-qty {
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px; 
}

.price {
  flex: 1; 
  text-align: right;}

.cart-qty button {
  width: 25px;
  height: 25px;
  margin: 0 6px;
}
.cart-total {
  text-align: right;
  font-weight: bold;
  margin: 10px;
}

.place-order-btn {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-weight: 540;
  font-size: 17px;
  cursor: pointer;
}
.close-btn:hover {
  background-color: #4f4c4c;
  color: rgb(237, 235, 236);
}
.clear-btn {
  width: 100%;
  padding: 10px;
  background: #5d42d3;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: 540;
  font-size: 17px;
}

.clear-btn:hover {
  background: #cc0000;
}
