
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/bg1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
}
.login-container {
  width: 100%;
  max-width: 850px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
.left-panel {
  background: linear-gradient(to bottom, #19217c, #61178d);
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-panel h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}
.left-panel h1 span {
  color: #faca51;
  font-weight: 800;
  font-size: 2rem;
}

.left-panel ul {
  margin-top: 10px;
}

.left-panel li {
  margin-bottom: 8px;
  font-size: 15px;
}
.right-panel {
  padding: 20px;
}

.top-bar {
  justify-content: space-between;
  margin-bottom: 10px;
}
.top-bar h2 {
  font-size: 29px;
  font-weight: 700;
  color: #0c7356;
  text-align: center;
}

.input-box {
  margin-bottom: 15px;
}

.input-box label {
  font-size: 12px;
  font-weight: 600;
  color: #475569;
  display: block;
  margin-bottom: 5px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  outline: none;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background: #f9a03b;
  color:rgb(129, 80, 27);
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.msg {
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  margin: 10px 0;
}

.msg.error {
  background: #fee2e2;
  color: #b91c1c;
}

.msg.success {
  background: #dcfce7;
  color: #15803d;
}
.switch-footer {
  text-align: center;
  margin-top: 20px;
}

.link-btn {
  background: none;
  border: none;
  color: #4f46e5;
  margin-left: 5px;
  cursor: pointer;
}
